# BiblioTECH 2023

In [3]:
print("Clara Turp is 31 years old")

Clara Turp is 31 years old

In [5]:
age = 31
first_name = "Clara"
print(first_name, "is", age, "years old")

Clara is 31 years old

### Variables can be used in calculations.

In [6]:
age = 35
print(age + 3)

38

In [7]:
age = 35
age = age + 3
print(age)

38

In [8]:
age = 35
age_plus_three = age + 3
print(age, age_plus_three)

35 38

## Built-in Functions and Methods

Len() is a built-in function that finds the length of a string

In [10]:
element = "Helium"
print(len(element)) # This is an example of a nested function

6

### Method

Methods are similar to functions, but they are tied to an object (string) <br>
object_name.method_name()

In [11]:
element = "Helium"
upper_element = element.upper()
print(upper_element)

HELIUM

In [12]:
element = "HELIEUMMS"
lower_element = element.lower()
print(lower_element)

helieumms

In [13]:
#Create a variable python and assign it a phrase. Then use the lower method to transform all words in lowercase
#Print the results

python = "HelLO PeoPLE, I AM learnInG PYTHONN"
lower_python = python.lower()
print(lower_python)

hello people, i am learning pythonn

## Lists

In [14]:
temperature_001 = 39.2
temperature_002 = 25.8
temperature_003 = 27.1
print(temperature_001, temperature_002)

39.2 25.8

In [15]:
#Use a list to store many values together. Each value is separated with a comma.
temperatures = [] #square brackets are the symbol that tells Python I am now dealing with a list.
print(temperatures)

[]

In [18]:
temperatures = [17.3, 17.5, 17.7, 18.3, 23.6, 28.9]
print(temperatures)
print(len(temperatures))

[17.3, 17.5, 17.7, 18.3, 23.6, 28.9]
6

### Use an item's index to fetch it from a list

In [23]:
temperatures = [17.3, 17.5, 17.7, 18.3, 23.6, 28.9]
print(temperatures[0]) #indexes start counting from 0
print(temperatures[4])
print(temperatures[5])

17.3
23.6
28.9

Exercise: Return the last letter of a string using len(). Please remember Python starts counting from 0

In [28]:
name = "Carolyn"
character = name[len(name) -1]
print(character)

n

### Appending items to a list

In [29]:
temperatures = [17.3, 17.5, 17.7, 18.9, 21.4]
temperatures.append(19.7)
print(temperatures)

[17.3, 17.5, 17.7, 18.9, 21.4, 19.7]

## Conditionals

if x then: > x is the condition <br>
     do A <br>
if y then:<br> Usually conditionals use < , >, == (equal), != (not equal)
     do B <br>

In [34]:
mass = 3.56
if mass > 3.0: # Floating point number (float)
    print(mass, "is larger")
    print("hello")
if mass < 3.0:
    print(mass, "is smaller") # INDENTING IS ESSENTIAL

3.56 is larger
hello

In [35]:
grade = 78

if grade < 80:
    grade = "B"
    print(grade)

B

### elif (else if) to specify additional tests and else to execute a block of code when no condition is met (catch all)

In [37]:
mass = 9.7
if mass > 9.0: # if is the keyword for conditionals. Always start with if
    print(mass, "is huge!")
elif mass > 3.0: # if the first condition WASN'T met
    print(mass, "is large")
else: # only write else. catch all, if all other conditions returned false.
    print(mass, "is small")

9.7 is huge!

In [39]:
grade = 85

if grade >= 90:
    print("Grade is A")
elif grade >= 80:
    print("Grade is B")
elif grade >= 70:
    print("Grade is C")

Grade is B

# For Loops

A for loop executes commands once for each value in a collection.

In [41]:
temperature_01 = 17.5
temperature_02 = 18.9
temperature_03 = 24.5

print(temperature_01, temperature_02, temperature_03)

17.5 18.9 24.5

In [45]:
for temperature in [17.5, 18.9, 24.5, 18.7]: #for is the keyword. temperature = loop variable, Collection [list].
    print(temperature) # Body of the loop
    #imaginary +1 here
print("finish")

17.5
18.9
24.5
18.7
finish

In [ ]:
# Loops need: for keyword, loop variable, the collection, and the body of the loop. You also need the in and the colon

In [47]:
collection_of_numbers = [2, 5, 7, 8, 10]
for number in collection_of_numbers:
    squared_number = number**2
    print(number, squared_number)

2
4
5
25
7
49
8
64
10
100

In [51]:
for number in range(3): # range is a built-in function that produces a sequence of numbers. range(N) = 0, N-1
    print(number)

0
1
2

In [52]:
for time in range(5):
    print("YEAH")

YEAH
YEAH
YEAH
YEAH
YEAH

### Accumulator Pattern

In [55]:
# sum of the first 10 integers

total = 0 # accumulator variable

for number in range(10):
    total = total + (number + 1)

print(total)

55

## Using Libraries

In [56]:
#import a library
import os

currentDir = os.getcwd() #libraryname.function()
print(currentDir)

C:\Users\cturp1\Desktop\Python2023